coffee:

  $input = $ "#url-input"
  $submitter = $ "#url-input-submitter"
  $error = $ "#url-input-error"

  Mixer.init_add_video ->
  
    $submitter.on "click", (e) ->
      val = $input.val()
      Mixer.add_video(val)
