coffee:

  pathname = window.location.pathname
  host = window.location.host
  ws = new WebSocket "ws://#{host}#{pathname}"

  ws.onopen = ->
    console.log "opened"
    ws.send("hello from client")
  
  ws.onmessage= (m) -> console.log m.data
  
  ws.onclose = -> console.log 'closed'
